html 
    h2 The garage door is 
    h1 #{message}  
style.
    body
    {
        text-align: center;
        font-family: 'Courier New';
        font-size: xx-large;
        background-color:lightgrey;
    }